<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.biippss">
    xmlns:tools="http://schemas.android.com/tools" <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission android:name="com.biippss.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.biippss.permission.C2D_MESSAGE" />
    <!-- < Only if you're using GCM or localNotificationSchedule() > -->

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- <uses-permission android:name="android.permission.RECORD_AUDIO"/> -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-feature android:name="android.hardware.usb.host" android:required="false" />
    <uses-feature android:name="android.hardware.nfc" android:required="false"/>


    <application android:name=".MainApplication" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:allowBackup="false" android:networkSecurityConfig="@xml/network_security_config" android:grantUriPermissions="true" android:fullBackupContent="@xml/backup_config" android:theme="@style/AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/fb_app_id" />
        <meta-data android:name="com.facebook.accountkit.ApplicationName" android:value="@string/app_name" />
        <meta-data android:name="com.facebook.accountkit.ClientToken" android:value="@string/ak_client_token" />
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:name=".MainActivity" android:launchMode="singleTask" android:label="@string/app_name" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="predictpal.com" android:pathPrefix="/" />
            </intent-filter>
        </activity>
        <activity android:name="com.biippss.usbprinter.MainActivity" android:configChanges="orientation|keyboardHidden" android:windowSoftInputMode="adjustUnspecified|stateHidden" android:launchMode="singleTask">
        </activity>
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

        <!-- Finger Print start -->
        <activity android:name="com.greenbit.MultiscanJNIGuiJavaAndroid.MainActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.greenbit.MultiscanJNIGuiJavaAndroid.DeviceFeaturesActivity" android:label="@string/title_activity_device_features" />
        <activity android:name="com.greenbit.MultiscanJNIGuiJavaAndroid.FlatSingleFingerAcquisitionOptions" android:label="@string/title_activity_flat_acquisition_options" />
        <activity android:name="com.greenbit.MultiscanJNIGuiJavaAndroid.SlapAcquisitionOptions" android:label="@string/title_activity_slap_acquisition_options" />
        <activity android:name="com.greenbit.MultiscanJNIGuiJavaAndroid.RollAcquisitonOptions" android:label="@string/title_activity_roll_acquisiton_options" />
        <activity android:name="com.greenbit.MultiscanJNIGuiJavaAndroid.FrameRateSettings" android:label="@string/title_activity_frame_rate_settings" />
        <activity android:name="com.greenbit.MultiscanJNIGuiJavaAndroid.DactyMatchSettings" android:label="@string/title_activity_dacty_match_settings" />
        <activity android:name="com.greenbit.MultiscanJNIGuiJavaAndroid.WsqWindow" android:label="@string/title_activity_wsq_window" />
        <activity android:name="com.greenbit.MultiscanJNIGuiJavaAndroid.Jp2Window" android:label="@string/title_activity_jp2_window" />
        <activity android:name="com.greenbit.MultiscanJNIGuiJavaAndroid.GbfinimgWindow" android:label="@string/title_activity_gbfinimg_window" />
        <activity android:name="com.greenbit.MultiscanJNIGuiJavaAndroid.SegmentsInfoWindow" android:label="@string/title_activity_segments_info_window" />
        <activity android:name="com.greenbit.MultiscanJNIGuiJavaAndroid.LogWindow" android:label="@string/title_activity_log_window"></activity>

        <!-- <activity android:name=".PrinterActivity" /> -->
        <activity android:name="com.greenbit.MultiscanJNIGuiJavaAndroid.QuarterlyVerificationWithFingerprint" android:screenOrientation="portrait" />
        <activity android:name="com.greenbit.MultiscanJNIGuiJavaAndroid.LoginWithFingerprint" android:screenOrientation="portrait" />
        <activity android:name="com.greenbit.MultiscanJNIGuiJavaAndroid.EnrollFingerprints" android:screenOrientation="portrait" />



        <!-- Fingerprint end -->
        <meta-data android:name="com.dieam.reactnativepushnotification.notification_channel_name" android:value="PredictPal"/>
        <meta-data android:name="com.dieam.reactnativepushnotification.notification_channel_description" android:value="YOUR NOTIFICATION CHANNEL DESCRIPTION"/>
        <!-- Change the resource name to your App's accent color - or any other color you want -->
        <meta-data android:name="com.dieam.reactnativepushnotification.notification_color" android:resource="@android:color/white"/>
        <!-- < Only if you're using GCM or localNotificationSchedule() > -->
        <receiver android:name="com.google.android.gms.gcm.GcmReceiver" android:exported="true" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationPublisher" />
        <receiver android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationBootEventReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationRegistrationService"/>

        <!-- < Only if you're using GCM or localNotificationSchedule() > -->
        <service android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationListenerServiceGcm" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- </ Only if you're using GCM or localNotificationSchedule() > -->

        <!-- < Else > -->
        <service android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationListenerService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- </Else> -->

        <provider android:name="androidx.core.content.FileProvider" android:authorities="com.biippss.provider" android:exported="false" android:grantUriPermissions="true" >
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>

    </application>

</manifest>
